.my-info-wrapper{
  width: 100%;
  position: relative;
}
.my-info-tabs{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}
.mp-info-tab{
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: #666;
  cursor: pointer;
}

.mp-info-tab:hover{
  background: #dad9d4;
  color: #23282d;
}
.tab-active{
  background: #dad9d4 !important;
  color: #23282d;
}

.my-info-data{
  width: 100%;
  background: #dad9d4;
  height: 100vh;
  padding-top: 30px;
}

#show-data {
  height: 0;
  overflow: hidden;
  transition: height 1s ease;
}

.show-data-show{
  height: 600px !important;
}

.my-photo{
  width: 200px;
  margin: 0 auto;
}

.my-photo img{
  width: 100%;
  border-radius: 100px;
}

.info-section{
  width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  background: #f9f9f4;
  border-radius: 10px;
  box-shadow: -2px 10px 25px -5px rgba(0,0,0,0.75);
}

.info-section h2{
  text-decoration: underline;
}

.info-section p{
  font-weight: bold;
}
#info-loader{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
}

.links a{
  font-size: 2rem;
  margin: 5px;
  text-decoration: none !important;
}
